{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kali's store - login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet" />
</head>
<body>
    <div class="glass-container">
        <h1 class="glitch" data-text="Login">Login</h1>
        <hr />
        <div class="cabecalho">
            <button onclick="window.location.href='{% url 'register' %}'">Cadastro</button>
            <button>Sobre</button>
            <button>Contato</button>
            <button>Ajuda</button>
        </div>

        <div class="divlogin">
            <form method="post">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Usuário">
                <input type="password" name="password" placeholder="Senha">
                <button type="submit">Entrar</button>
            </form>
            {% if error %}
            <p style="color: red";>{{ error }}</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
